trunk/Blade/TestEspacioDeportivoService/Service References/EspacioDeportivoWS/EspacioDeportivoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15426/EspacioDeportivoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Dominio" />
  <xs:element name="obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Dominio" minOccurs="0" name="obtenerResult" nillable="true" type="q1:EspacioDeportivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Dominio" minOccurs="0" name="listaResult" nillable="true" type="q2:ArrayOfEspacioDeportivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sede" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Dominio" minOccurs="0" name="crearResult" nillable="true" type="q3:EspacioDeportivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sede" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Dominio" minOccurs="0" name="actualizarResult" nillable="true" type="q4:EspacioDeportivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>