Blade/GestionReservaAppMVC/Service References/SedeWS/SedeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15426/SedeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Dominio" />
  <xs:element name="listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Dominio" minOccurs="0" name="listarResult" nillable="true" type="q1:ArrayOfSede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>