Blade/GestionReservaAppMVC/Service References/GestionReservaWS/GestionReservaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionReservaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:38930/GestionReservaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:38930/GestionReservaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" />
      <xsd:import schemaLocation="http://localhost:38930/GestionReservaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:38930/GestionReservaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Dominio" />
      <xsd:import schemaLocation="http://localhost:38930/GestionReservaService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GestionReservaServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionReservaService_obtenerEspacio_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerEspacio" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_obtenerEspacio_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerEspacioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_obtenerEspacio_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q1:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarEspacio_InputMessage">
    <wsdl:part name="parameters" element="tns:listarEspacio" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarEspacio_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarEspacioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarEspacio_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q2:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_crearEspacio_InputMessage">
    <wsdl:part name="parameters" element="tns:crearEspacio" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_crearEspacio_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearEspacioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_crearEspacio_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q3:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_actualizarEspacio_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEspacio" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_actualizarEspacio_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEspacioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_actualizarEspacio_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q4:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_eliminarEspacio_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarEspacio" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_eliminarEspacio_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarEspacioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_eliminarEspacio_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q5:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarSede_InputMessage">
    <wsdl:part name="parameters" element="tns:listarSede" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarSedeResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarSede_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q6:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_registrarHorario_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarHorario" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_registrarHorario_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarHorarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_registrarHorario_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q7:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_actualizarHorario_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarHorario" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_actualizarHorario_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarHorarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_actualizarHorario_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q8:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_obtenerHorario_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerHorario" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_obtenerHorario_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerHorarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_obtenerHorario_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q9:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_eliminarHorario_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarHorario" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_eliminarHorario_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarHorarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_eliminarHorario_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q10:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarHorario_InputMessage">
    <wsdl:part name="parameters" element="tns:listarHorario" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarHorario_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarHorarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarHorario_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q11:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_registrarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarReserva" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_registrarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarReservaResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_registrarReserva_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q12:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:listarReserva" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarReservaResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionReservaService_listarReserva_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/EspacioDeportivoServices.Excepcion" name="detail" element="q13:ValidationException" />
  </wsdl:message>
  <wsdl:portType name="IGestionReservaService">
    <wsdl:operation name="obtenerEspacio">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/obtenerEspacio" message="tns:IGestionReservaService_obtenerEspacio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/obtenerEspacioResponse" message="tns:IGestionReservaService_obtenerEspacio_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/obtenerEspacioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_obtenerEspacio_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarEspacio">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/listarEspacio" message="tns:IGestionReservaService_listarEspacio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/listarEspacioResponse" message="tns:IGestionReservaService_listarEspacio_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/listarEspacioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_listarEspacio_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearEspacio">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/crearEspacio" message="tns:IGestionReservaService_crearEspacio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/crearEspacioResponse" message="tns:IGestionReservaService_crearEspacio_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/crearEspacioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_crearEspacio_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarEspacio">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/actualizarEspacio" message="tns:IGestionReservaService_actualizarEspacio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/actualizarEspacioResponse" message="tns:IGestionReservaService_actualizarEspacio_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/actualizarEspacioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_actualizarEspacio_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarEspacio">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/eliminarEspacio" message="tns:IGestionReservaService_eliminarEspacio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/eliminarEspacioResponse" message="tns:IGestionReservaService_eliminarEspacio_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/eliminarEspacioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_eliminarEspacio_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarSede">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/listarSede" message="tns:IGestionReservaService_listarSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/listarSedeResponse" message="tns:IGestionReservaService_listarSede_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/listarSedeValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_listarSede_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarHorario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/registrarHorario" message="tns:IGestionReservaService_registrarHorario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/registrarHorarioResponse" message="tns:IGestionReservaService_registrarHorario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/registrarHorarioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_registrarHorario_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarHorario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/actualizarHorario" message="tns:IGestionReservaService_actualizarHorario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/actualizarHorarioResponse" message="tns:IGestionReservaService_actualizarHorario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/actualizarHorarioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_actualizarHorario_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerHorario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/obtenerHorario" message="tns:IGestionReservaService_obtenerHorario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/obtenerHorarioResponse" message="tns:IGestionReservaService_obtenerHorario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/obtenerHorarioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_obtenerHorario_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarHorario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/eliminarHorario" message="tns:IGestionReservaService_eliminarHorario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/eliminarHorarioResponse" message="tns:IGestionReservaService_eliminarHorario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/eliminarHorarioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_eliminarHorario_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarHorario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/listarHorario" message="tns:IGestionReservaService_listarHorario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/listarHorarioResponse" message="tns:IGestionReservaService_listarHorario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/listarHorarioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_listarHorario_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/registrarReserva" message="tns:IGestionReservaService_registrarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/registrarReservaResponse" message="tns:IGestionReservaService_registrarReserva_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/registrarReservaValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_registrarReserva_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionReservaService/listarReserva" message="tns:IGestionReservaService_listarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionReservaService/listarReservaResponse" message="tns:IGestionReservaService_listarReserva_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionReservaService/listarReservaValidationExceptionFault" name="ValidationExceptionFault" message="tns:IGestionReservaService_listarReserva_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGestionReservaService" type="tns:IGestionReservaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerEspacio">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/obtenerEspacio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listarEspacio">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/listarEspacio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="crearEspacio">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/crearEspacio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="actualizarEspacio">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/actualizarEspacio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="eliminarEspacio">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/eliminarEspacio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listarSede">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/listarSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registrarHorario">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/registrarHorario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="actualizarHorario">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/actualizarHorario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerHorario">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/obtenerHorario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="eliminarHorario">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/eliminarHorario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listarHorario">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/listarHorario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registrarReserva">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/registrarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listarReserva">
      <soap:operation soapAction="http://tempuri.org/IGestionReservaService/listarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionReservaService">
    <wsdl:port name="BasicHttpBinding_IGestionReservaService" binding="tns:BasicHttpBinding_IGestionReservaService">
      <soap:address location="http://localhost:38930/GestionReservaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>